.App {
  text-align: center;
}


.App-header {
  padding: 20px;
  background-color: rgb(42, 177, 177);
  color: rgb(78, 75, 76);
}

img {
  height: 200px;
  margin-bottom: 20px;
  background-color: aqua;
}

.app-header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.chat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}


body {
  background-color: aqua;
}
